# Devenv
/.devenv*
/devenv.local.nix

# direnv
/.direnv

# pre-commit
/.pre-commit-config.yaml

# Local VS Code configuration
/.vscode*

# Kernel build artifacts
/*.deb
/*.buildinfo
/*.changes
/.pc

/llama.cpp-qcom-midstream

# Build artifacts in src/
/src/build-midstream/
/src/install-midstream/

# Logs
/*.log
