# Devenv
/.devenv*
/devenv.local.nix

# direnv
/.direnv

# pre-commit
/.pre-commit-config.yaml

# Local VS Code configuration
/.vscode*

# Kernel build artifacts
/*.deb
/*.buildinfo
/*.changes
/.pc

/llama.cpp-qcom-midstream

# Build artifacts in src/
/src/build-midstream-cross/
/src/install-midstream-cross/

# Cached OpenCL tarball
/qcom-adreno_*.tar.gz
/qcom-adreno_*.tar.gz.tmp
/_opencl/

# Logs
/*.log
