Source: llama.cpp-qcom-midstream
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13),
               debhelper (>=13~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,
               ca-certificates,
               cmake,
               crossbuild-essential-arm64,
               ninja-build,
               opencl-headers,
               python3,
               wget,

Package: llama.cpp-qcom-midstream
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
         qcom-adreno-opencl-midstream,
         python3,
Description: llama.cpp for Qualcomm mainline (OpenCL GPU)
 llama.cpp with OpenCL GPU backend for Qualcomm mainline-kernel devices.
